html,body {
    height: 100%;
    margin: 0;
    background-color: #E5E5E5;
    font-family: 'RobotoDraft', sans-serif;
}

core-header-panel {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
core-toolbar {
    background: #03a9f4;
    color: white;
}


paper-button {
    margin: 1em;
    width: 10em;
}

paper-button.colored {
    color: #4285f4;
    fill: #4285f4;
}

paper-button[raisedButton].colored {
    background: #4285f4;
    color: #fff;
}

paper-button[raisedButton].colored #ripple,
paper-button[raisedButton].colored::shadow #ripple {
    color: #2a56c6;
}

paper-button[raisedButton].colored #focusBg,
paper-button[raisedButton].colored::shadow #focusBg {
    background: #3367d6;
}



core-animated-pages {
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

section > div {
    height: 100%;
    color: white;
}
