[submodule "polymer/platform"]
	path = polymer/platform
	url = https://github.com/Polymer/platform.git
[submodule "polymer/polymer"]
	path = polymer/polymer
	url = https://github.com/Polymer/polymer.git
[submodule "polymer/core-elements"]
	path = polymer/core-elements
	url = https://github.com/Polymer/core-elements.git
[submodule "polymer/paper-elements"]
	path = polymer/paper-elements
	url = https://github.com/Polymer/paper-elements.git
[submodule "polymer/font-roboto"]
	path = polymer/font-roboto
	url = https://github.com/Polymer/font-roboto
[submodule "polymer/paper-dialog"]
	path = polymer/paper-dialog
	url = https://github.com/Polymer/paper-dialog.git
[submodule "polymer/paper-button"]
	path = polymer/paper-button
	url = https://github.com/Polymer/paper-button.git
[submodule "polymer/core-animated-pages"]
	path = polymer/core-animated-pages
	url = https://github.com/Polymer/core-animated-pages.git
[submodule "polymer/core-icon"]
	path = polymer/core-icon
	url = https://github.com/Polymer/core-icon.git
[submodule "polymer/paper-focusable"]
	path = polymer/paper-focusable
	url = https://github.com/Polymer/paper-focusable.git
[submodule "polymer/core-style"]
	path = polymer/core-style
	url = https://github.com/Polymer/core-style.git
[submodule "polymer/core-transition"]
	path = polymer/core-transition
	url = https://github.com/Polymer/core-transition.git
[submodule "polymer/core-overlay"]
	path = polymer/core-overlay
	url = https://github.com/Polymer/core-overlay.git
[submodule "polymer/core-iconset"]
	path = polymer/core-iconset
	url = https://github.com/Polymer/core-iconset.git
[submodule "polymer/core-selector"]
	path = polymer/core-selector
	url = https://github.com/Polymer/core-selector.git
[submodule "polymer/paper-shadow"]
	path = polymer/paper-shadow
	url = https://github.com/Polymer/paper-shadow.git
[submodule "polymer/paper-ripple"]
	path = polymer/paper-ripple
	url = https://github.com/Polymer/paper-ripple.git
[submodule "polymer/core-selection"]
	path = polymer/core-selection
	url = https://github.com/Polymer/core-selection.git
[submodule "polymer/core-meta"]
	path = polymer/core-meta
	url = https://github.com/Polymer/core-meta.git
